.main {
  /* Center and scale the image nicely */
  background: url("../../../assets/home.jpg") no-repeat center 0px;
  background-size: cover;
  height: 95vh;
}
.logo1, .logo2, .greeting {
  font-family: 'Baloo', cursive;
}
.greeting {
  font-size: 40px;
}

@media (max-width: 992px) {
  .uk-height-large h1 {
    font-size: 25px;
  }
}
