<div class="uk-height-large main uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top">
  <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" style="position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); width: 100%;">
    <h1 style="font-family: 'Anton', sans-serif; font-weight: bold; color: #000;"
        class="greeting presentation text-center uk-animation-scale-up uk-transform-origin-top-center">
      Welcome On My Website </h1>
  </div>
</div>
