.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000;
  color: #FFF;
}

.footer p {
  margin-bottom: 0;
  color: #FFF;
  font-weight: 100;
}

.footer .content .developer {
    margin-bottom: 0;
}

.footer .content .developer span {
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .oneFooter {
    text-align: center !important;
  }
  .twoFooter {
    text-align: center !important;
  }
}
